@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  font-family: 'Source Sans Pro';
  margin: 10px;
  padding: 0px;
  background-size: auto;
  background-color: lavender;
  font-size: 1.25em;
}

a {
  text-decoration: overline;
  color: #fadcaa;
  font-family: 'Source Sans Pro';
  font-variant: small-caps;
  background-color: #794c74;
}

img {
  margin: 10px;
  padding: 3px;
  border-style: solid;
  width:30%;
  border-color: #794c74;
}

hr {
  width: 30%;
  height: 1px;
  border-top: 10px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: dotted;
  color: #794c74;
}

h1 {
  font-size: 2em;
  line-height: 130%;
}

h3 {
  font-family: inherit;
  font-weight: normal;
  color: #c56183;
}

p {
  margin: 10px;
}

.example {
  background-image: none;
  background-repeat: no-repeat;
}

.skill {
  font-family: 'Source Sans Pro';
  color: blue;
}

#heading {
  background-color: #fadcaa;
}
